DATABASE_URL=postgresql://postgres:admin123@db:5432/finance_db
JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiMTIzIiwiZXhwIjoiMTcxNzA1MjQwMCIsImlhdCI6IjE3MTY5NjYwMDAiLCJlbWFpbCI6ImFsZmlub2h1dGFoYWVhbjE4QGdtYWlsLmNvbSJ9.Vyry8GB5gDtNBAi8lGgPlT8xt3lqlHupTknjMJR5R_0